/* --- RESET DE BASE --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px 2vw;
  padding-bottom: 0;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
  overflow-x: hidden;
}

/* --- CONTENEUR GLOBAL --- */
.page-container {
  max-width: 1240px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 20px;
}

/* --- MISCELLANEOUS --- */
.mobile-break {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.flex-grow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* --- MEDIA QUERIES POUR PETITS ÉCRANS --- */
@media (max-width: 500px) {
  .mobile-break {
    display: block;
  }
}
