/* --- HOST INFO --- */

.host {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 900px) {
}

@media (max-width: 500px) {
  .host-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .host p {
    font-size: 12px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
}
