.carousel {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.carousel-image {
  width: 100%;
  height: 415px;
  object-fit: cover;
  display: block;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  font-size: 80px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.carousel-counter {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* --- MEDIA QUERIES POUR PETITS ÉCRANS --- */
@media (max-width: 900px) {
  .carousel-image {
    height: 335px;
  }

  .carousel button {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .carousel-image {
    height: 255px;
  }

  .carousel button {
    font-size: 25px;
  }

  .carousel-counter {
    font-size: 14px;
  }
}
