/* --- FOOTER --- */
footer {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: #000;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

footer picture,
footer img {
  max-width: 1240px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}



